
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Medpill a Medical Category Responsive Web Template - Home : W3Layouts</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
  </head>
  <body>
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script><script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
	// format, zoneKey, segment:value, options
	_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
</script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
  	}
})();
</script>
<!--<script>(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "//a.vdo.ai/core/w3layouts_V2/vdo.ai.js?vdo=34");</script>-->
<div id="codefund"><!-- fallback content --></div>
<script src="https://codefund.io/properties/441/funder.js" async="async"></script>
	
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-149859901-1'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149859901-1');
</script>

<script>
     window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
     ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
     ga('require', 'eventTracker');
     ga('require', 'outboundLinkTracker');
     ga('require', 'urlChangeTracker');
     ga('send', 'pageview');
   </script>
<script async src='/js/autotrack.js'></script>

<meta name="robots" content="noindex">
<body><link rel="stylesheet" href="/images/demobar_w3_4thDec2019.css">

<section class="w3l-bootstrap-header">
  <nav class="navbar navbar-expand-md navbar-light py-3">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img src="assets/images/award.png" class="img-fluid" width="52px">
        Medpill</a>
      <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Pages
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="blog.html">Blog</a>
              <a class="dropdown-item" href="blog-single.html">Blog Single</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
      <a href="#domain" class="domain ml-3" data-toggle="modal" data-target="#DomainModal">
        <div class="hamburger1">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </a>
    </div>
  </nav>
</section>


<!-- Domain Modal -->
<div class="modal right fade" id="DomainModal" tabindex="-1" role="dialog" aria-labelledby="DomainModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>

      <div class="modal-body">
        <div class="modal__content">
          <h2 class="logo"><img src="assets/images/award.png" class="img-fluid"> Medpill</h2>
          <!-- if logo is image enable this   
          <h2 class="logo">
            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
          </h2> -->
          <p class="mt-md-3 mt-2">Lorem ipsum dolor sit amet, elit. Eos expedita ipsam at fugiat ab.</p>
          <div class="widget-menu-items mt-sm-5 mt-4">
            <h5 class="widget-title">Menu Items</h5>
            <nav class="navbar p-0">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="services.html">Services</a>
                </li>
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Pages
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="blog.html">Blog</a>
                    <a class="dropdown-item" href="blog-single.html">Blog Single</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="widget-social-icons mt-sm-5 mt-4">
            <h5 class="widget-title">Contact Us</h5>
            <ul class="icon-rounded address">
              <li>
                <p> #135 block, Barnard St. Brooklyn, <br>NY 10036, USA</p>
              </li>
              <li class="mt-3">
                <p><span class="fa fa-phone"></span> <a href="tel:+404-11-22-89">+1-2345-345-678-11</a></p>
              </li>
              <li class="mt-2">
                <p><span class="fa fa-envelope"></span> <a
                    href="mailto:medpillhospital@mail.com">medpillhospital@mail.com</a></p>
              </li>
              <li class="top_li1 mt-2">
                <p><span class="fa fa-clock-o"></span> <a href="mailto:medpillhospital@mail.com">Mon - Sun 09:00 - 21:00
                  </a></p>
              </li>
            </ul>
          </div>
          <div class="widget-social-icons mt-sm-5 mt-4">
            <h5 class="widget-title">Follow Us</h5>
            <ul class="icon-rounded">
              <li><a class="social-link twitter" href="#url" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a class="social-link linkedin" href="#url" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="social-link tumblr" href="#url" target="_blank"><i class="fa fa-tumblr"></i></a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>
    <!-- //modal-content -->
  </div>
  <!-- //modal-dialog -->
</div>
<!-- //Domain modal -->
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-blog py-5">
      <div class="container py-lg-5 py-md-3">
        <h2>Blog 3 Columns With Frame / Post Format</h2>
        <p>Page caption algined here</p>
      </div>
    </div>
  </section>

<div style="margin: 8px auto; display: block; text-align:center;">
  <!---728x90--->

</div>

<!--  News section -->
<div class="w3l-news" id="news">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-4 py-sm-3">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="blog-single.html" class="d-block zoom"><img src="assets/images/s1.jpg" alt=""
                                class="img-fluid news-image" /></a>
                        <div class="blog-info">
                            <p class="date">January 29, 2020</p>
                            <h4><a href="blog-single.html">Treatments for leukemia</a></h4>
                            <p>Lorem ipsum dolor sit nostrum ed amet libero fugiat ullam ipsam...</p>
                            <ul class="blog-tags">
                                <li><a href="#trending"><span class="fa fa-folder-o mr-2"></span>Hospital</a></li>
                                <li><a href="#trending"><span class="fa fa-tags mr-2"></span>Infectuous</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="grids5-info">
                        <a href="blog-single.html" class="d-block zoom"><img src="assets/images/blog1.jpg" alt=""
                                class="img-fluid news-image" /></a>
                        <div class="blog-info">
                            <p class="date">September 28, 2020</p>
                            <h4><a href="blog-single.html">Fight cancer effectively</a></h4>
                            <p>Lorem ipsum dolor sit nostrum ed amet libero fugiat ullam ipsam...</p>
                            <ul class="blog-tags">
                                <li><a href="#trending"><span class="fa fa-folder-o mr-2"></span>Drugs</a></li>
                                <li><a href="#trending"><span class="fa fa-tags mr-2"></span>Health care</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="grids5-info">
                        <a href="blog-single.html" class="d-block zoom"><img src="assets/images/blog2.jpg" alt=""
                                class="img-fluid news-image" /></a>
                        <div class="blog-info">
                            <p class="date">October 28, 2020</p>
                            <h4><a href="blog-single.html">Doctor’s fail to Diagnose</a></h4>
                            <p>Lorem ipsum dolor sit nostrum ed amet libero fugiat ullam ipsam...</p>
                            <ul class="blog-tags">
                                <li><a href="#trending"><span class="fa fa-folder-o mr-2"></span>Pregnancy</a></li>
                                <li><a href="#trending"><span class="fa fa-tags mr-2"></span>Radiology</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="grids5-info">
                        <a href="blog-single.html" class="d-block zoom"><iframe
                                src="https://player.vimeo.com/video/180825357" frameborder="0"
                                allow="autoplay; fullscreen" allowfullscreen></iframe></a>
                        <div class="blog-info">
                            <p class="date">March 04, 2020</p>
                            <h4><a href="blog-single.html">Video Post Format</a></h4>
                            <p>Lorem ipsum dolor sit nostrum ed amet libero fugiat ullam ipsam...</p>
                            <ul class="blog-tags">
                                <li><a href="#video"><span class="fa fa-folder-o mr-2"></span>Video Post Format</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="grids5-info">
                        <div class="blog-info">
                            <div class="highquote">“</div>
                            <div class="gdlr-core-blog-quote-content gdlr-core-info-font">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet. Ipsum quo dolore et
                                        tempore. Officia sed sit voluptatum reprehenderit sed nostrum nesciunt
                                        modi explicabo ipsa dolorem repell endus obcae cati debitis iure quaerat ut
                                        neque
                                        est, a impedit fugit porro. Quasi, similique nam lorem sed amet et ipsum fugit
                                        porro modi..</p>
                                </blockquote>
                            </div>
                            <h4 class="quote"> - John smith</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="grids5-info">
                        <div class="ready-player-1">
                            <audio crossorigin>
                                <source src="assets/images/audio/example-1.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                        <div class="blog-info">
                            <p class="date">March 04, 2020</p>
                            <h4><a href="blog-single.html">Audio Post Format</a></h4>
                            <p>Lorem ipsum dolor sit nostrum ed amet libero fugiat ullam ipsam Lorem ipsum dolor sit
                                amet consectetur adipisicing elit. Facere magnam perspiciatis maxime sapiente obcaecati
                                labore..</p>
                            <ul class="blog-tags">
                                <li><a href="#audio"><span class="fa fa-folder-o mr-2"></span>Audio Post Format</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination">
                <span aria-current="page" class="page-numbers current">1</span>
                <a class="page-numbers" href="#url">2</a>
                <a class="page-numbers" href="#url">3</a>
                <a class="next page-numbers" href="#url"><span class="fa fa-angle-right"></span></a>
            </div>

        </div>
    </section>
</div>
<!--  //News section -->

<div style="margin: 8px auto; display: block; text-align:center;">
  <!---728x90--->
</div>

  <!-- footer-28 block -->
  <section class="w3l-medpill-footer ">
    <footer class="footer-28">
      <div class="footer-bg-layer">
        <div class="container py-lg-3">
          <div class="row footer-top-28">
            <div class="col-lg-4 col-md-6 col-sm-7 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Contact information</h6>
              <ul class="address">
                <li>
                  <p> #135 block, Barnard St. Brooklyn, <br>NY 10036, USA</p>
                </li>
                <li class="mt-4">
                  <p><span class="fa fa-phone"></span> <a href="tel:+404-11-22-89">+1-2345-345-678-11</a></p>
                </li>
                <li>
                  <p><span class="fa fa-envelope"></span> <a
                      href="mailto:medpillhospital@mail.com">medpillhospital@mail.com</a></p>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-5 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Company</h6>
              <ul>
                <li><a href="#url">Mission and values</a></li>
                <li><a href="#url">Publications and reports</a></li>
                <li><a href="#url">Ladership and Awards</a></li>
                <li><a href="#url">Diversity is Our Specialty</a></li>
                <li><a href="#url">Policies & Procedures</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-4 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Our Services</h6>
              <ul>
                <li><a href="#url">Orthopaedic</a></li>
                <li><a href="#url">Dental Service</a></li>
                <li><a href="#url">Lung Diseases</a></li>
                <li><a href="#url">Heart Attact</a></li>
                <li><a href="#url">Sport Injury</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Hospital hours</h6>
              <ul class="timing mb-lg-4">
                <li><a href="#URL"><span class="fa fa-clock-o"></span>Mon to Fri : <span>08:00 - 20:00</span></a></li>
                <li><a href="#URL"><span class="fa fa-clock-o"></span>Saturday : <span>08:00 - 20:00</span></a></li>
                <li><a href="#URL"><span class="fa fa-clock-o"></span>Sunday : <span>08:00 - 20:00</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="midd-footer-28 align-center py-lg-4 py-3 mt-md-5 mt-3">
        <div class="container">
          <p class="copy-footer-28 text-center"> &copy; 2020 Medpill. All Rights Reserved. Design by <a
              href="https://w3layouts.com/">W3Layouts</a></p>
        </div>
      </div>
      </div>
    </footer>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->

    <script src="assets/js/jquery-3.3.1.min.js"></script>
    
    <script src="assets/js/green-audio-player.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            new GreenAudioPlayer('.ready-player-1', { stopOthersOnPlay: true });
        });
    </script>

    <!-- video popup -->
    <script>
      $('#notify').change(function () {
        if ($('#notify').is("Active")) {
          $('body').css('overflow', 'hidden');
        } else {
          $('body').css('overflow', 'auto');
        }
      });
    </script>
    <!-- //video popup -->

    <script src="assets/js/owl.carousel.js"></script>
    <!-- script for banner slider-->
    <script>
      $(document).ready(function () {
        $('.owl-one').owlCarousel({
          loop: true,
          margin: 0,
          nav: false,
          responsiveClass: true,
          autoplay: false,
          autoplayTimeout: 5000,
          autoplaySpeed: 1000,
          autoplayHoverPause: false,
          responsive: {
            0: {
              items: 1,
              nav: false
            },
            480: {
              items: 1,
              nav: false
            },
            667: {
              items: 1,
              nav: true
            },
            1000: {
              items: 1,
              nav: true
            }
          }
        })
      })
    </script>
    <!-- //script -->
    
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

    <script src="assets/js/bootstrap.min.js"></script>

    </body>

    </html>